<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar uma nova Categoria</h1>
        </div>
        <div class="card-body">
            <form method="POST" action="/category/save">
                <input class="form-control" name="title" type="text" placeholder="Nova Categoria"></>
                <br>
                <button class="btn btn-success"> Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs'); %>